:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
  --blue: #1278bc;
  --green: hsla(59, 100%, 51%, 0.718);
  --yellow: #a7fa0e;
}
.gradientColor {
  color: bla;
  font-variation-settings: "wght" 700;
  background: linear-gradient(135deg, var(--blue) 20%, var(--yellow) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title3 {
  text-align: center;
  font-size: calc(100vw / 65 * 3);
  border-bottom: 5px dashed rgba(43, 43, 43, 0.35);
  filter: url(#distortionFilter);
  composes: gradientColor;
  /* color: rgb(232, 232, 232); */
  margin-top: 5px;
}
.title3::selection {
  background: #161616;
  color: #f0f0f0;
}
.distort {
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  pointer-events: none;
}

.spanLine {
  text-decoration: solid;
}
